$color-pack: false;
$navigation-drawer-border-width: none !default;

$dark-theme-primary: #57638e;
$dark-theme-accent: #13171c;
$dark-theme-secondary: #1f262f;

$dark-theme-header-color: #3a475a;
$light-theme-header-color: #d3d5db;
$expansion-panel-header-padding: 10px !default;
$expansion-panel-content-padding: 10px !default;
